@import "./others/colors.scss";

* {
  margin: 0;
  padding: 0;
  color: $white;
}
body {
  background-image: url("../images/backgroundLp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
#container1 {
  background-color: $bgd-container;
  width: 450px;
  height: auto;
}
.top-logo {
  width: 200px;
}
.btn-send {
  color: $btn;
  border: 1px solid $btn;

  &:hover {
    background-color: $btn;
    color: $white;
  }
}

@media (max-width: 466px) {
  #container1 {
    width: 300px;
  }
  .footer p {
    font-size: 12px;
  }
}
@media (max-width: 340px) {
  #container1 {
    width: 300px;
  }
  .footer p {
    font-size: 10px;
  }
  body {
    background-position: center;
    padding: 5px;
  }
}
